*{
    padding: 0;
    margin: 0;
}

.left{
    float: left;
}

.right{
    float: right;
}

.clear{
    clear: both;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #ebe8e8;
}

.container{
    width: 1000px;
    margin: 0 auto;
    padding: 15px;
    background-color: #fff;
}

.head{
    margin: 0 20px;
} 
.head .head-left{
    float: left;
    margin-top: 10px;
    width: 750px;
}
.head-left h1{
    margin-top: 15px;
    width: 750px;
}
.head-left p{
    margin-top: 85px;
    width: 700px;
    text-align: justify;
}

.head .head-rigt{
    margin-top: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.cont{
    margin: 20px 20px 0;
} 

.cont .cont-left{
    margin-top: 10px;
    width: 750px;
}

.cont-left h2{
    margin-top: 20px;
    width: 750px;
}

.cont-left p{
    margin-top: 40px;
    width: 700px;
    text-align: justify;
}

.cont .cont-right{
    margin-top: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}